# Node.js dependencies
node_modules

# Environment files
.env
.env.local

# IntelliJ IDEA-specific files
.idea/
.idea/workspace.xml
/shelf/
/httpRequests/
/dataSources/
/dataSources.local.xml

# Logs
*.log

# System files
.DS_Store
